.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-size: cover;
  }

  .container {
    display: flex; /* or inline-flex */
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }